.banner-container{
    background-image: linear-gradient(rgb(3 169 244 / 45%), #2196f3e8), url(../../../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}